/conf/so_rule_stubs/*.rules
/stage/
/pcap/
/extracts/
/logs/
/tmp/
**/*.swp
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/conf/generated.conf
# rspec failure tracking
.rspec_status
